@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,400&display=swap');

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}

/* Map.jsx */
.map {
  width: 100vw;
  height: 100vh;
  position: relative;
}

/* Loader.jsx */
.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  min-height: 100vh;
}

/* LocationMarker.jsx */
.location-icon {
  font-size: 2rem;
  color: darkred;
}

/* LocationInfoBox.jsx */
.location-info {
  padding: 1rem;
  position: absolute;
  top: 100px;
  right: 50px;
  width: 400px;
  min-height: 200px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  font-size: 0.7rem;
  color: white;
}

.location-info ul {
  list-style-type: none;
  padding: 0;
}

.location-info li {
  padding: 5px 0;
}

/* Header.jsx */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  padding: 0.3rem 0.7rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  color: #fff;
  background-color: firebrick;
  z-index: 100;
}

.header h1 {
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
}

.header p {
  margin: 0;
}

.header-list-button:hover {
  cursor: pointer;
}

.header-list-icon {
  font-size: 3rem;
}

/* EventList.jsx */
.event-nav-list {
  position: absolute;
  top: 5rem;
  z-index: 50;
}
